//Main window css
.root{
	-fx-background-color: #293241;
	-fx-text-fill: #e6e6e6;
}

Button{
	-fx-background-color: #e3c390;
	-fx-display:flex;
	-fx-justify-content:space-between;	
	-fx-border-color: black;
}

Label{
	-fx-text-fill: #cccccc; 	
}

#clickerSect{
	-fx-background-color: #98c1d9;	
}

#shop{
	-fx-background-color: #3d5a80;
} 

#br{
	-fx-text-fill: #333333;
}


